@import "seattletimes";

.inner {
  max-width: 960px;
  margin: auto;
  padding: 0 10px;
}

.main-nav {
  margin-bottom: 20px;
}

.menu {
  padding-bottom: 20px;
}

.button {
  background: maroon;
  display: inline-block;
  color: white;
  padding: 8px 15px 5px 15px;
  border-radius: 2px;
  font-family: @df-sans;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.recipe {
  margin-bottom: 60px;

  .title {
    font-weight: bold;
    font-size: 32px;
    font-family: @df-sans;
    color: maroon;
    margin-top: 15px;
  }
  .credit {
    font-family: @df-sans;
    font-style: italic;
    padding-top: 10px;
  }
  .desc {
    padding-top: 15px;
  }
}

.tabs {
  margin-top: 20px;

  div {
    display: inline-block;
    background: @df-light-gray;
    font-family: @df-sans;
    font-weight: bold;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 4px 4px 0 0;

    .fa-angle-down {
      padding-left: 4px;
      display: none;
    }

    &:hover, &.selected {
      background: maroon;
      color: white;
    }

    &.selected {
      .fa-angle-down {
        display: inline-block;
      }
    }

    &:first-child {
      margin-right: 10px;
    }
  }
}

.goforit, .simplify {
  background: @df-off-white;
  border: 1px solid @df-light-gray;
  padding: 40px;
  display: none;

  &.shown {
    display: block;
  }
}

ol li {
  padding-bottom: 19px;

  &:last-child {
    padding-bottom: 0;
  }
}

.factbox {
  font-family: @df-sans;
  background: @df-middle-gray;
  color: white;
  padding: 20px 30px;
  font-size: 16px;
  margin-top: 10px;
}