<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <section class="recipe">
      <%= markdown.turkey %>
    </section>
    <section class="recipe">
      <%= markdown.gravy %>
    </section>
    <section class="recipe">
      <%= markdown.beans %>
    </section>
    <section class="recipe">
      <%= markdown.potatoes %>
    </section>
    <section class="recipe">
      <%= markdown.cornbread %>
    </section>
    <section class="recipe">
      <%= markdown.gel %>
    </section>
    <section class="recipe">
      <%= markdown.pie %>
    </section>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
