<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://use.fontawesome.com/bd870dfa49.js"></script>
  </head>
  <body>

    <%= t.include("./partials/_nav.html") %>

    <div class="inner">
      <section id="turkey" class="recipe">
        <div class="title">Spatchcocked Turkey</div>
        <div class="credit">— Brady Williams, Canlis</div>
        <div class="tabs">
          <div>Go for it</div><div>Simplify</div>
        </div>
        <div class="goforit"><%= markdown.turkey1 %></div>
        <div class="simplify"><%= markdown.turkey2 %></div>
      </section>

      <section id="gravy" class="recipe">
        <div class="title">Gravy</div>
        <div class="credit">— Holly Smith, Cafe Juanita</div>
        <div class="desc">Whether you choose to roast a chicken or a turkey (duck or goose!) this sauce works well for all.  I don’t love a starch thickened sauce personally, so I let the natural proteins in the stock and reduction do the work. It takes time but is easily done ahead. This sauce base could be made a month in advance and frozen or made a day ahead and refrigerated.</div>
        <div class="tabs">
          <div>Go for it</div><div>Simplify</div>
        </div>
        <div class="goforit"><%= markdown.gravy1 %></div>
        <div class="simplify"><%= markdown.gravy2 %></div>
      </section>

      <section id="beans" class="recipe">
        <div class="title">Heirloom Bean Cassoulet</div>
        <div class="credit">— Maria Hines</div>
        <div class="desc">Chef Maria Hines, owner of Tilth, Agrodolce and Young American Ale House, says this vegetarian dish has become the most sought-after recipe at Tilth, as even meat lovers fawn over it. The comment she hears most: “How can you say this is vegetarian when there is meat in here?” The meaty, chewy texture of the mushrooms combined with the smoky beans gives the dish the illusion of meat.</div>
        <div class="factbox">Note: People can buy the dish at Tilth over the holidays if they pre-order it two days in advance. We will send them home with instructions on how to heat and serve.</div>
        <div class="tabs">
          <div>Go for it</div><div>Simplify</div>
        </div>
        <div class="goforit"><%= markdown.beans1 %></div>
        <div class="simplify"><%= markdown.beans2 %></div>
      </section>

      <section id="potatoes" class="recipe">
        <div class="title">Soy-Glazed Potatoes</div>
        <div class="credit">— Shota Nakajima, Naka</div>
        <div class="desc">Shota Nakajima, chef/owner of Capitol Hill’s refined kaiseki restaurant Naka, provides this recipe that’s reminiscent of sweet potatoes but with a delicious, subtle complexity. A sticky, rich glaze made with soy sauce, sake and mirin makes the little Yukon Golds literally shine, and cooking them in the liquid that becomes the glaze gives them a lovely depth of flavor.</div>
        <div class="tabs">
          <div>Go for it</div><div>Simplify</div>
        </div>
        <div class="goforit"><%= markdown.potatoes1 %></div>
        <div class="simplify"><%= markdown.potatoes2 %></div>
      </section>

      <section id="cornbread" class="recipe">
        <div class="title">Cornbread Dressing</div>
        <div class="credit">— Edouardo Jordan, Salare</div>
        <div class="desc">Edouardo Jordan, chef/owner of Salare in Ravenna, developed this recipe as an homage to his grandmother’s and mother’s cooking. He grew up on Jiffy cornbread, used in the “simplify” version of this recipe. But if you’d like to make it from scratch, he offers his recipe, which he’s spent years perfecting.</div>
        <div class="tabs">
          <div>Go for it</div><div>Simplify</div>
        </div>
        <div class="goforit"><%= markdown.cornbread1 %></div>
        <div class="simplify"><%= markdown.cornbread2 %></div>
      </section>

      <section id="gel" class="recipe">
        <div class="title">Cranberry gel</div>
        <div class="credit">— Maximillian Petty, Eden Hill</div>
        <div class="desc">For a fun and fancy twist on cranberry sauce, Maximillian Petty, chef at Eden Hill, likes to create a fluid gel to garnish a turkey plate. Make a gel, put it in a squeeze bottle, and decorate to your heart’s content. Note: Agar agar is a vegan gelling agent derived from seaweed. It comes in powder and flake forms, so follow the instructions on the back of the container to make the hard gel. </div>
        <div class="tabs">
          <div>Go for it</div><div>Simplify</div>
        </div>
        <div class="goforit"><%= markdown.gel1 %></div>
        <div class="simplify"><%= markdown.gel2 %></div>
      </section>

      <section id="pie" class="recipe">
        <div class="title">Cranberry pie or tart</div>
        <div class="credit">— Kate McDermott, author of “Art of the Pie”</div>
        <div class="desc">Whether you make it in pie form, or take the simpler approach and make the rustic tart, this cranberry filling is great for the fall when you are craving the bright taste of a sour cherry pie. Add pecans to this filling if you’d like, as well as some orange zest of liqueur, and serve it with champagne.</div>
        <div class="tabs">
          <div>Go for it</div><div>Simplify</div>
        </div>
        <div class="goforit"><%= markdown.pie1 %></div>
        <div class="simplify"><%= markdown.pie2 %></div>
      </section>
    </div>
    
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
